.btn {
	background-color: $mainOrange;
	color: #fff;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;
	font-size: 1rem;
	font-weight: 300;
	border-radius: 5px;
	transition: all .3s ease-out;

	&--large {
		font-size: 1rem;
		padding: .75rem 1.2rem;
		margin-top: .2rem;
		margin-bottom: 2rem;
		transform: translateY(0);
		border: 1px solid $mainOrange;
		

		&:hover {
			transform: translateY(-7px);
			background-color: $darkBlack;
			color: $mainOrange;

		}

		@mixin atSmall {
			font-size: 1.25rem;
			padding: 1.1rem 1.9rem;
			margin-top: 2.5rem;
		}
	}
}