.footer {
	background-color: rgba($darkBlack, .8);
	height: 150px;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: .7rem;
	text-align: center;

	@mixin atLarge {
		height: 130px;
		padding: .4rem;

	}

	&__text{
		color: $superLightGrey;
		font-weight: 300;
		font-size: .7rem;
		display: block;
		margin-top: -.1rem;

		@mixin atLarge {
			display: inline-block;
		}

	}

	&--my-work {
		bottom: -23rem;
		position:relative;
		height: 170px;

		@mixin atSmall {
			bottom: -15rem;
		}
	}
}