.headline {
	font-family: 'Abel', sans-serif;
	text-align: center;
	font-size: 2rem;
	color: $mainOrange;
	text-shadow: 1px 1px 2px $grey;
	transition: all .3s ease-out;
	

	@mixin atSmall {
		font-size: 2.827rem;
	}

	&__subheading {
		font-family: 'Abel', sans-serif;
		text-align: center;
		font-size: 1.7rem;
		color: $mainOrange;
		text-shadow: 1px 1px 2px $grey;
		margin-top: 3rem;

		@mixin atSmall {
			font-size: 1.999rem;
			margin-top: 4rem;
		}
	}


	&__intro {
		font-weight: 300;
		font-style: italic;
		font-size: 1.1rem;
		text-align: center;
		line-height: 1.5;

		@mixin atSmall {
			font-size: 1.414rem;
		}

	}

	&__image-container {
		position:relative;
		width: 150px;
		height: 150px;
		margin: 15px auto;
		overflow: hidden;
		border-radius: 50%;
		transition: all .3s ease-out;


		&:hover {
			opacity: .8;
		}

		@mixin atSmall {
			width: 200px;
			height: 200px;
			margin: 25px auto;
			
		}

		
	}

	&--image {
		position:absolute;
		top: 0;
		left: 0;
		backface-visibility: hidden;
		transition: transform .3s ease-out;



		&:hover {
			transform: scale(1.2);


		}
		
	}

	&--black {
		color: $darkBlack;
		text-shadow: none;
		margin-bottom: 4rem;
	}

	&--white {
		color: #fff;

	}

	&--bottom-margin {
		margin-bottom: 4rem;
	}

	&__job {
		color: #fff;
		text-align: center;
		margin-top: 3rem;
		font-weight: 300;
		font-size: 1.3rem;

		&--sub {
			color: $superLightGrey;
			text-align: center;
			font-weight: 300;
			font-size: 1.1rem;
			font-style: italic;
			margin-top: -.5rem;
		}
	}

	&__expertise {
		text-align: center;
	}

	&--hide {
		@mixin atMedium {
			display:none;
		}
	}

	&--top-margin {
		margin-top: 4rem;
	}

	&--clear-escape {
		font-weight: 300;
		margin-top: 3rem;
	}

}