.large-hero {
	position: relative;
	border-bottom: 7px solid $mainOrange;
	box-shadow: 2px 2px 3px $grey;


	&__background {
		background-color: $darkBlack;
		height: 660px;

		@mixin atSmall {
			height: 760px;
		}

	}

	img {
		border-radius: 100px;
	}

	&__image {
		width: 150px;
		height: 150px;
		margin: 15px auto;
		


		@mixin atSmall {
			width: 200px;
			height: 200px;
			margin: 25px auto;
			
		}
	}


	&__title {
		font-family: 'Abel', sans-serif;
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: .15rem;
		/*text-shadow: 2px 2px 4px $mainOrange;*/
		margin-bottom: 0;
		margin-top: 2.5rem;

		@mixin atSmall {
			font-size: 3rem;
		}

		@mixin atMedium {
			font-size: 4rem;
			margin-top: 0;
		}

	}

	&__title--my-work {
		font-family: 'Abel', sans-serif;
		font-weight: 300;
		font-size: 2.5rem;
		letter-spacing: .15rem;
		margin-top: 2.5rem;
		margin-top: 4rem;
		margin-bottom: -1.3rem;
		text-shadow: 1px 1px 2px $grey;

		@mixin atSmall {
			font-size: 2.6;
		}


		@mixin atMedium {
			font-size: 3rem;	
		}

		@mixin atLarge {
			font-size: 4rem;
		}
		

		
	}

	&__title--responsive-sm {
		@media (max-width: 377px) {
			font-size: 2.3rem;
		}

	}




	&__subtitle {
		font-family: 'Abel', sans-serif;
		font-weight: 300;
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 0;

		@mixin atSmall {
			font-size: 1.6rem;
		}
		

		@mixin atMedium {
			font-size: 1.999rem;
		}
	}

	&__description {
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		font-size: 1rem;
		font-weight: 300;
		text-shadow: 1px 1px 5px #000;
		max-width: 28.75rem;
		margin-left: auto;
		margin-right: auto;

		@mixin atSmall {
			font-size: 1.2rem;
			padding-bottom: .2rem;
		}


		@mixin atMedium {
			font-size: 1.414rem;
		}
	}

	&__text-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
		color: #fff;
		margin-top: 3rem;

		@mixin atSmall {
			margin-top: 5rem;
		}
	}


}