.page-section {
	padding: 2.2rem 0;

	@mixin atSmall {
		padding: 4.5rem 0;
	}

	&--orange {
		background-color: $mainOrange;
		border-bottom: 3px solid $darkBlack;
	}

	&--grey {
		background-image: linear-gradient(to top, rgba($mainOrange, .8), rgba($darkBlack, .8)), url("/assets/images/computer-small.jpg"); 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		position:relative;

		@mixin atMedium {
			background-image: linear-gradient(to top, rgba($mainOrange, .8), rgba($darkBlack, .8)), url("/assets/images/computer-large.jpg"); 
		}

	}

	&--clearfix {
		@mixin clearFix;
	}

	
}