.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

	
	
	&__col-2-medium {
		width: 100%;
		margin: auto;
		height: 275px;

		@mixin atMedium {
			width: 45%;
			height: 500px; 
			margin: auto;

			&:hover {
				transform: scale(2) translateY(20px);
			}
		}
	}

	/*@mixin clearFix;*/

	&__col-3-medium {
		width: 100%;
		margin: auto;
		height: 275px;
		


		
		

		@mixin atSmall {
			width: 45%;
			height: 370px;
			margin: auto;
		}

		@mixin atMedium {
			width: 22%;
			height: 330px;
			margin: auto;
			position: relative;
			top: -120px;
		}

		/*@mixin atSmall {
			width: 45%;
			margin-right: 2.5%;
			float:left;

		}

		@mixin atMedium {
		width: 22%;
		float: left;
		margin-right: 3%;
		}*/
	}

	

}