.svg {
	width: 75px;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	&--small {
		width: 40px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin: 1rem auto;

		@mixin atSmall {
			width: 55px;
		}


		@mixin atMedium {
			margin: 2rem auto;
		}

	}


}